<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>A07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" href=" /guestbook.css"> 
</head>

<body class="container">
  <header>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
              <div class="container">
                        
            <div class="navbar-header">
             
                <a class="navbar-brand" href="#">Pavan Vudutha</a><br />
                </div>
                <div class="navbar">
                <a  href="home.html">Home</a>
                <a href="MyChoice.html">My Choice</a>
                <a href="Contact.html">Contact</a>
                <a class="active" href="#guestbook">GuestBook</a>
              </div>
            </div>
          </div>
            </nav>
  </header>
    <h1>
Express Guestbook
<a href="/new-entry" class="btn btn-primary pull-right">
Write in the guestbook
</a>
</h1>
</body>
</html>